*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	color:white;
}

body{
	background-color: black;
}

#navbar{
	display: flex;
	background-color: black;
	height: 10vh;
	width: 100%;
	padding: 1.5vw 2vw;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 1px 5px white;
	position: sticky;
	z-index: 999;
	top: 0;
}	

#left{
	font-size: 20px;
	font-weight: 600;
}

#right a{
	color: white;
	margin: 0 0.5vw;
	text-decoration: none;
	transition: all 0.7s ease-in;
}

#right a:hover{
	text-decoration: underline;
}

#home{
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#home p{
	text-align: center;
	font-size: 200px;
	font-weight: 600;
	color: white;
	opacity: 0.65;
	transition: all 0.3s  ease;
}

#home p:hover{
	color: white;
	text-shadow: 6px 2px 1px red,
				-6px -2px 1px blue;
	opacity: 1;
}

#about{
	height: 100vh;
	display: flex;
	gap: 2vw;
	justify-content: space-between;
	align-items: center; 
	padding-top :13vh;
	padding-bottom: 2vh;
	padding-right: 2vw;
	padding-left: 4vw;
	font-size: 26px;
}

#text{
	width: 55%;
	padding: 3vw;
	border-radius: 20px;
	border: 1px solid white;
	transition: all 0.3s ease-in;
}

#text:hover{
	transform: translateY(-5px);
	box-shadow: 2px 2px 15px #fff;
}

#text hr{	
	margin: 1.5vw 0;
}

#text ul{
	margin: 1.5vw 4vw;
	margin-bottom: 5vw;
}

#image{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 45%;
}

#image img{
	width:90%;
	border-radius: 20px;
	margin-bottom: 2vw;
	transition: all 0.3s ease-out;
}

#image img:hover{
	transform: translateY(-12px);
	box-shadow: 2px 2px 10px #fff;
}

#image p{
	text-align: center;
	padding: 0.5vw 1vw;
	width: 75%;
	border-radius: 20px;
	transition: all 0.3s ease-in;
}


#image p:hover{	
	box-shadow: 0 0 14px #fff;
	transform: translateY(-3px);
}

#effects{
	height: 100vh;
	display: flex;
	gap: 2vw;
	justify-content: space-between;
	align-items: center; 
	padding-top :13vh;
	padding-bottom: 2vh;
	padding-right: 2vw;
	padding-left: 2vw;
	font-size: 20px;
}

#pros{
	width: 50%;
	padding: 2vw 3vw;
	border-radius: 20px;
	border: 0.5px solid rgba(255, 255, 255, 0.5);
	transition: all 0.3s ease-in;
}

#pros:hover{
	transform: translateY(-5px);
	box-shadow: 1px 1px 15px #fff;
}

#pros hr{
	margin-top: 3vw;
	margin-bottom: 1.5vw;
}

#pros .point{
	margin: 1vw 0;
	font-size: 22px;
	font-weight: 600;
}

#cons{
	width: 50%;
	padding: 2vw 3vw;
	border-radius: 20px;
	border: 0.5px solid rgba(255, 255, 255, 0.5);
	transition: all 0.3s ease-in;
}

#cons:hover{
	transform: translateY(-5px);
	box-shadow: 1px 1px 15px #fff;
}

#cons hr{
	margin-top: 3vw;
	margin-bottom: 1.5vw;
}

#cons .point{
	margin: 1vw 0;
	font-size: 22px;
	font-weight: 600;
}

#contact{
	height: 100vh;
	display: flex;
	flex-direction: column;
	gap: 2vw;
	justify-content: center;
	align-items: center; 
	padding-top :13vh;
	font-size: 20px;
}



#contact-page{
	height: 90%;
	width: 90%;
	display: flex;
	flex-direction: column;
	border-radius: 20px;
	text-align: center;
	border: 1px solid rgba(255, 255, 255, 0.5);
	padding: 3vw 14vw;
	transition: all 0.3s ease-in;
}

#contact-page:hover{
	transform: translateY(-5px);
	box-shadow: 1px 1px 15px #fff;
}

#contact hr{
	margin: 2vw;
}

#contact input{
	color: black;
	margin-bottom: 2vw;
	padding: 0 1vw;
	height: 5vh;
	border: none;
	border-radius: 10px;
	width: 60%;
}

#message{
	height: 120px;
	margin-top: 1vw;
	border: none;
	border-radius: 15px;
	width: 90%;
}



footer{
	border-top: 1px solid white;
	text-align: center;
}

footer p{
	padding: 1vw;
	width: 100%;
	transition: all 0.3s ease-out;
}

footer p:hover{	
	background-color: grey;
}